<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>提莫蛳后台管理登录</title>
  <link href="../HPlus/css/bootstrap.min.css" rel="stylesheet">
  <link href="../HPlus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
  <link href="../HPlus/css/animate.min.css" rel="stylesheet">
  <link href="../HPlus/css/style.min.css" rel="stylesheet">
  <style>
    html {
      height: 100%
    }

    body.signin {
      height: auto;
      background: url("../images/timor1.jpg") no-repeat center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: rgba(255, 255, 255, .95)
    }

    .signinpanel {
      width: 750px;
      margin: 15% auto 0
    }

    .signinpanel .logopanel {
      float: none;
      width: auto;
      padding: 0;
      background: 0 0
    }

    .signinpanel .signin-info ul {
      list-style: none;
      padding: 0;
      margin: 20px 0
    }

    .signinpanel .form-control {
      display: block;
      margin-top: 15px
    }

    .signinpanel .uname {
      background: #fff url(../HPlus/img/user.png) no-repeat 95% center;
      color: #333
    }

    .signinpanel .pword {
      background: #fff url(../HPlus/img/locked.png) no-repeat 95% center;
      color: #333
    }

    .signinpanel .btn {
      margin-top: 15px
    }

    .signinpanel form {
      background: rgba(255, 255, 255, .2);
      border: 1px solid rgba(255, 255, 255, .3);
      -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
      -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
      box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 30px
    }

    .signup-footer {
      border-top: solid 1px rgba(255, 255, 255, .3);
      margin: 20px 0;
      padding-top: 15px
    }

    @media screen and (max-width: 768px) {
      body.signin{
        background-position: initial
      }
      .signinpanel, .signuppanel {
        margin: 10% auto;
        width: 100% !important;
        padding: 20px
      }

      .signinpanel form {
        margin-top: 20px
      }

      .signup-footer, .signuppanel .form-control {
        margin-bottom: 10px
      }

      .signup-footer .pull-left, .signup-footer .pull-right {
        float: none !important;
        text-align: center
      }

      .signinpanel .signin-info ul {
        display: none
      }
    }

    @media screen and (max-width: 320px) {
      body.signin{
        background-position: initial
      }
      .signinpanel, .signuppanel {
        margin: 10% auto;
        width: auto
      }
    }

  </style>

</head>

<body class="signin">
<div class="signinpanel">
  <div class="row">
    <div class="col-sm-5">
      <form>
        <h4 class="no-margins">提莫蛳后台管理登录：</h4>
        <div class="form-group">
          <input type="text" class="form-control uname" placeholder="用户名" />
          <span class="help-block m-b-none text-danger"><i class="fa fa-info-circle"></i> 请填写您的用户名</span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control pword" placeholder="密码" />
          <span class="help-block m-b-none text-danger"><i class="fa fa-info-circle"></i> 请填写您的密码</span>
        </div>


        <a href="#">忘记密码了？</a>
        <button class="btn btn-success btn-block">登录</button>
      </form>
    </div>
  </div>
  <div class="signup-footer">
    <div class="pull-left">
      &copy; 2015 All Rights Reserved. H+
    </div>
  </div>
</div>
</body>


</html>
